body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: black;
}

.mainContent {
    top: 20%;
    left: 25%;

    position: absolute;

    width: 10000px;
    align-content: center;
    align: center;
}

button.pianoButton {

    height: 250px;
    width: 120px;
    background: darkviolet;
    color: mediumblue;
    border: 1px white;
    border-style: solid;
    align-content: center;
    align: center;
    justify-content:         center;
}

button.pianoButtonActive {
    height: 250px;
    width: 120px;
    background: blue;
    color: blue;
    border: 1px black;
    align-content: center;
    align: center;
    align-items: center;
}

.synthKey {
    display: inline;
    align: center;
}

.grid{
    top: -400px;
    bottom: -400px;
    left: -400px;
    right: -400px;
    position: absolute;

    background-color: black;
    background-image: linear-gradient(deepskyblue 1px, transparent 2px),
    linear-gradient(90deg, deepskyblue 1px, transparent 2px);
    background-size:3% 3%, 3% 3%;
    background-position:0 0, 0 0;

    transform: perspective(300px) rotateX(80deg);
}